
.singleBlogContainer {
    flex: 1 1 200px;
    display: flex;
    flex-direction: column;
    background-color: lightslategray;
    margin: 1px 1px 1px 1px;
    border-radius: 2px;
}

#blogTitle {
    font-style: italic;
    font-weight: bold;
    margin: 0 7px 0 7px;
}

#blogBody {
    font-weight: lighter;
    margin: 0 7px 0 7px;
}

#blogFooter {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 15px 15px 7px 15px;
}
