@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

.logo {
    font-family: 'Roboto', sans-serif;
    flex: 1 1 70%;
}

#Heading {
    color: #03396c;
    font-size: xx-large;
}

#author {
    font-size: small;
}