
.signUpLogInForm {
    flex: 1 1 30%;
    display: flex;
    flex-direction: column;
}

#username {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    justify-content: flex-end;
    align-items: flex-end;
}

#password {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    justify-content: flex-end;
    align-items: flex-end;
}

#button {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

#loginFormContainer, signUpFormContainer {
    display: flex;
    flex-direction: column;
}

