
.App {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: 50px auto auto;

}

.headerLoginContainer {
    background-color: #b3cde0;
    grid-column: 1/-1;
    display: flex;
}

.allBlogsContainer {
    padding-top: 75px;
    grid-column: 1/-1;
    display: flex;
    flex-wrap: wrap;
}