@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

body {
    background: lightblue;
    font-family: 'Open Sans', sans-serif, Arial;
    font-weight: normal;
    font-size: medium;
}